<ion-header>
    <ion-toolbar>
        <ion-title>{{ news?.news.subject }}</ion-title>

        <ion-buttons slot="start">
            <ion-back-button default-href="home" (click)="changePage.emit(PagesEnum.NewsGroupPage)"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-loader-component *ngIf="news == null"></app-loader-component>
    <ion-list lines="full" *ngIf="news != null">
        <app-newsgroup-thread-item [news]="news" [padding]="0"></app-newsgroup-thread-item>
    </ion-list>
</ion-content>
