<ion-header>
    <ion-toolbar>
        <ion-title>{{ newsgroup?.name }}</ion-title>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button style="font-size: 20px;" (click)="markAllUnread()">
                <ion-icon name="checkmark-done-outline"></ion-icon>
            </ion-button>

            <ion-button style="font-size: 20px;" *ngIf="onlyUnread == true" (click)="setOnlyUnread(false)">
                <ion-icon name="eye-outline"></ion-icon>
            </ion-button>

            <ion-button style="font-size: 20px;" *ngIf="onlyUnread == false" (click)="setOnlyUnread(true)">
                <ion-icon name="eye-off-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-loader-component *ngIf="news == null"></app-loader-component>

    <ion-list lines="full" *ngIf="news != null">
        <ion-item>
            <ion-searchbar
                    [(ngModel)]="searchInput"
                    animated>
            </ion-searchbar>
        </ion-item>

        <ion-item detail *ngFor="let n of news" [class.not-display]="!shouldDisplay(n)" (click)="setNewsThread(n)">
            <ion-label [class.unread]="shouldMarkUnread(n)" class="ion-text-wrap">
                {{ n.news.subject }}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
