<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="presentPopover($event)">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Infinity News</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-loader-component *ngIf="newsgroups == null"></app-loader-component>

    <ion-img src="../../../assets/empty.svg" *ngIf="newsgroups != null && newsgroups.length == 0"
             class="empty-svg"></ion-img>

    <ion-list *ngIf="newsgroups != null && newsgroups.length > 0" lines="full">
        <ion-item-sliding *ngFor="let newsgroup of newsgroups">
            <ion-item-options side="start">
                <ion-item-option (click)="maskUnread(newsgroup)"><ion-icon name="mail-unread-outline"></ion-icon></ion-item-option>
            </ion-item-options>

            <ion-item detail (click)="setNewsGroup(newsgroup)">
                <ion-label [class.unread]="newsgroup.unread.length > 0">
                    {{ newsgroup.name }}
                </ion-label>

                <ion-badge color="danger" slot="end"
                           *ngIf="newsgroup.unread.length > 0">{{ newsgroup.unread.length }}</ion-badge>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>

