<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary">
            <ion-button (click)="presentPopover($event)">
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Infinity News</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-loader-component *ngIf="newsgroups == null"></app-loader-component>

    <ion-img src="../../../assets/empty.svg" *ngIf="newsgroups != null && newsgroups.length == 0"
             class="empty-svg"></ion-img>

    <ion-list *ngIf="newsgroups != null && newsgroups.length > 0" lines="full">
        <ion-item detail *ngFor="let newsgroup of newsgroups" (click)="setNewsGroup(newsgroup)">
            <ion-label>
                {{ newsgroup.name }}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<!--<app-home-page *ngIf="selectedPage == pages.HomePage"
               (changePage)="setPage($event)"></app-home-page>

<app-setting-page *ngIf="selectedPage == pages.SettingsPage"
                  (changePage)="setPage($event)"></app-setting-page>

<app-subscribe-page *ngIf="selectedPage == pages.SubscribePage"
                    (changePage)="setPage($event)"></app-subscribe-page>

<app-newsgroup-page *ngIf="selectedPage == pages.NewsGroupPage"
                    (changePage)="setPage($event)"></app-newsgroup-page>

<app-newsgroup-thread-page *ngIf="selectedPage == pages.NewsGroupThreadPage"
                    (changePage)="setPage($event)"></app-newsgroup-thread-page>-->


