<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary" (click)="presentPopover($event)">
            <ion-button>
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Infinity News</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-loader-component *ngIf="newsgroups == null"></app-loader-component>

    <ion-list *ngIf="newsgroups != null" lines="full">
        <ion-item detail *ngFor="let newsgroup of newsgroups" (click)="selectNewsgroup(newsgroup)">
            <ion-label>
                {{ newsgroup.name }}
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>

<!--
<ion-content>
  <ion-list class="theme-list" lines="full">
    <ion-item>
      <ion-icon slot="start" icon="moon" class="component-icon component-icon-dark"></ion-icon>
      <ion-label>
        Dark Mode
      </ion-label>
      <ion-toggle slot="end" (ionChange)="this.toggleDarkMode()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
-->
