<ion-header>
    <ion-toolbar>
        <ion-buttons slot="primary" (click)="presentPopover($event)">
            <ion-button>
                <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Infinity News</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
   <!-- <ion-list class="theme-list" lines="full">
        <ion-item>
            <ion-icon slot="start" icon="moon" class="component-icon component-icon-dark"></ion-icon>
            <ion-label>
                Dark Mode
            </ion-label>
            <ion-toggle slot="end" (ionChange)="theme.toggleBlackMode()"></ion-toggle>
        </ion-item>
    </ion-list>-->

    <div class="ion-padding custom-skeleton">
        <ion-skeleton-text animated
                           style="line-height: 30px; padding-bottom: 16px; margin-bottom: 16px;"></ion-skeleton-text>
        <ion-skeleton-text animated
                           style="line-height: 30px; padding-bottom: 16px; margin-bottom: 16px;"></ion-skeleton-text>
        <ion-skeleton-text animated
                           style="line-height: 30px; padding-bottom: 16px; margin-bottom: 16px;"></ion-skeleton-text>
        <ion-skeleton-text animated
                           style="line-height: 30px; padding-bottom: 16px; margin-bottom: 16px;"></ion-skeleton-text>
        <ion-skeleton-text animated
                           style="line-height: 30px; padding-bottom: 16px; margin-bottom: 16px;"></ion-skeleton-text>
        <ion-skeleton-text animated
                           style="line-height: 30px; padding-bottom: 16px; margin-bottom: 16px;"></ion-skeleton-text>
        <ion-skeleton-text animated
                           style="line-height: 30px; padding-bottom: 16px; margin-bottom: 16px;"></ion-skeleton-text>
        <ion-skeleton-text animated
                           style="line-height: 30px; padding-bottom: 16px; margin-bottom: 16px;"></ion-skeleton-text>
        <ion-skeleton-text animated
                           style="line-height: 30px; padding-bottom: 16px; margin-bottom: 16px;"></ion-skeleton-text>
        <ion-skeleton-text animated
                           style="line-height: 30px; padding-bottom: 16px; margin-bottom: 16px;"></ion-skeleton-text>
    </div>
</ion-content>

<!--
<ion-content>
  <ion-list class="theme-list" lines="full">
    <ion-item>
      <ion-icon slot="start" icon="moon" class="component-icon component-icon-dark"></ion-icon>
      <ion-label>
        Dark Mode
      </ion-label>
      <ion-toggle slot="end" (ionChange)="this.toggleDarkMode()"></ion-toggle>
    </ion-item>
  </ion-list>
</ion-content>
-->
